<footer class="foothold">
    <div class="footercontainer">
        <ul class="ft">
            <li class="ftr">
                <a href="/">Home</a>
            </li>
            <li class="ftr">
                <a href="">Features</a>
            </li>
            <li class="ftr">
                <a href="/faqs">FAQs</a>
            </li>
            <li class="ftr">
                <a href="/about">About us</a>
            </li>
        </ul>
    </div>
    <div class="company">
        <h3>AirNet 2023</h3>
    </div>
</footer>