<!-- middle -->
    <div class="home">
        <div class="hm">
            <div>
                <div class="start a">
                    <p class="wl">Welcome To</p>
                </div>
                <div class="start l">
                    <img class="logo" src="\images\an.jpeg" alt="">
                </div>
                <div class="start m">
                    <h4 class="we">We are fresh developers who developed AirNet. The company was found in Kyrgyzstan in 2023, 
                        with purpose of helping traveller explore our world whithout spending extra time and energy.</h4> 
                </div>
            </div>
            <hr class="hr">
            <div class="strt us">
                <h3>About Us</h3>
            </div>
            <div class="strt in">
                <h4>Let us introduce our members</h4>
            </div>
            <div class="strt co">
                <h4>Co-founder of AirNet</h4>
            </div>
            <div>
                <div class="img">
                    <img class="pic" src="\images\i.jpg" alt="">
                </div>
                <div class="ptag">
                    <p class="me"> Amina Co-founder of AirNet. 20 years old,
                        3-years student at Ala-Too International University, 
                        currently studing Computer Science</p>
                </div>
            </div>
            <div class="media">
                <img src="https://cdn-icons-png.flaticon.com/128/174/174855.png" alt="">
                <img src="https://cdn-icons-png.flaticon.com/128/3536/3536505.png" alt="">
            </div>
        </div>
    </div>