<div class="fdiv">
    <div class="hold">
        <div class="tit">
            <h1>Frequently Asked Questions</h1>
        </div>
        <div class="faq">
            <input id='faq-a' type='checkbox'>
            <label for='faq-a'>
                <p class="faq-heading">What happens after I've booked my flight?</p>
                <div class='faq-arrow'></div>
                <p class="faq-text">Once you select your flight, you’ll book
                     directly with one of our airline or travel partners, 
                     usually on their site. Your flight booking confirmation 
                     email and all the other info you'll need will 
                     come from them.</p>
            </label>
            <input id='faq-b' type='checkbox'>
            <label for='faq-b'>
                <p class="faq-heading">How can I find the best latest minute flight deals?</p>
                <div class='faq-arrow'></div>
                <p class="faq-text">Sometimes it’s worth waiting until the last minute to see 
                    if airlines reduce the price of unsold seats on their flights – but this can be a gamble.</p>
            </label>
            <input id='faq-c' type='checkbox'>
            <label for='faq-c'>
                <p class="faq-heading">What is the best day of the week to buy plane tickets?</p>
                <div class='faq-arrow'></div>
                <p class="faq-text">As more business
                         travelers have started booking their flights during the week, the best day 
                      to buy those tickets is now Sunday. To avail more savings on flight tickets,
                     try to book on a Sunday that is more than 21 days ahead of your trip.</p>
            </label>
            <input id='faq-d' type='checkbox'>
            <label for='faq-d'>
                <p class="faq-heading">When is the best time to buy airline tickets?</p>
                <div class='faq-arrow'></div>
                <p class="faq-text">There’s no specific right time to book your travel. When traveling internationally, 
                        prices usually start to increase 21 days before departure*.</p>
            </label>
        </div>
    </div>
</div>