 <div class="indexbody">
        <div>
        <div class="mar" id="mar">

        </div>
    </div>

    <!-- SEARCH -->
    <div class="main-div" id="main">
        <div class="search" id="search">
            <div class="dropsearch">
                <form action="/search" class="from" method="">
                    <div class="flight">
                        <label for="departFrom">Depart from</label>
                        <input class="input" type="text" name="departFrom" id="departFrom" placeholder="from">
                    </div>
                    <div class="flight">
                        <label for="arriveTo">Arrive to</label>
                        <input class="input" type="text" name="arriveTo" id="arriveTo" placeholder="to">
                    </div>
                    <div class="flight">
                        <label for="departureDate">Departure date</label>
                        <input class="input" type="date" name="departureDate" id="departureDate">
                    </div>
                    <div class="flight">
                        <label for="arrivalDate">Arrival date</label>
                        <input class="input" type="date" name="arrivalDate" id="arrivalDate">
                    </div>
                    <div class="flight">
                        <label for="">passenger</label>
                        <input class="input" type="number" id="" name="" min="0" max="100" step="1" placeholder="passenger">
                    </div>
                    <div>
                        <label class="journey" for="journey">
                            <input class="jour input" type="radio" name="journey" id="journey">&nbsp;return</input>
                            <input class="jour input" type="radio" name="journey" id="journey">&nbsp;one way</input>
                        </label>
                    </div>
                    <button type="submit" class="flsubmit">search</button>
                </form>
            </div>
        </div>
    </div>
</div>