<div class="informbody" id="">
    <div class="informdiv">
        <div class="">
            <h3 class="ttr">Please, fill in the Form</h3>
        </div>
        {{#formData}}
        <div>
            {{departFrom}}-{{arriveTo}}
        </div> 
        <div>
            Departure:{{departureDate}}<br>
            Arrival: {{arrivalDate}}
        </div> 
        {{/formData}}
        <div>
            <div>
                <form action="/search/passenger/confirmation" method="POST">
                    <div>
                        <div class="formfortr">
                            <div class="informnote">
                                <p class="ot">Note: "First Name" and "Last Name" must match your travel document exactly.</p>
                            </div>
                            <div class="tt">
                                <h4 class="tt">Form for Traveller</h4>
                            </div>
                            <div class="row">
                                    <div class="col">
                                        <input class="rowcol" type="text" placeholder="First name" name="fName" id="fName">
                                        <input class="rowcol" type="text" placeholder="Last name" name="lName" id="lName">
                                        <input class="rowcol dt" type="date" name="bdate" id="bdate" placeholder="birthday">
                                        {{!-- <input class="rowcol" type="number" name="age" id="age" min="0" max="100" step="1" placeholder="Age"> --}}
                                    </div>
                                    {{!-- <div class="informgen">
                                        <label class="gen dt" for="">Gender:</label>
                                        <input class="rad bb" type="radio" name="gender" id="gender">
                                        <label class="gen" for="gender">f</label>
                                        <input class="rad dd" type="radio" name="gender" id="gender">
                                        <label class="gen gg" for="gender">m</label>
                                    </div> --}}
                            </div>
                        </div>
                    <div class="conf">
                        <button class="btnconf" type="">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>