<div class="informbody" id="">
    <div class="informdiv">
        <div class="">
            <h3 class="ttr">Please, fill in the Form</h3>
        </div>
        <div>
            <div>
                <form action="">
                    <div>
                        <div class="formfortr">
                            <div class="informnote">
                                <p class="ot">Note: "First Name" and "Last Name" must match your travel document exactly.</p>
                            </div>
                            <div class="tt">
                                <h4 class="tt">Form for Traveller</h4>
                            </div>
                            <div class="row">
                                    <div class="col">
                                        <input class="rowcol" type="text" placeholder="First name" name="fName">
                                        <input class="rowcol" type="text" placeholder="Last name" name="lName">
                                        <input class="rowcol dt" type="date" name="bdate" id="" placeholder="birthday">
                                        <input class="rowcol" type="number" name="age" id="age" min="0" max="100" step="1" placeholder="Age">
                                    </div>
                                    <div class="informgen">
                                        <label class="gen dt" for="">Gender:</label>
                                        <input class="rad bb" type="radio" name="gender" id="gender">
                                        <label class="gen" for="">f</label>
                                        <input class="rad dd" type="radio" name="gender" id="gender">
                                        <label class="gen gg" for="">m</label>
                                    </div>
                            </div>
                        </div>
                        <div class="formforres">
                            <div class="informnote">
                                <p class="ot">Note: This is who we will be in contact with about this booking</p>
                            </div>
                            <div class="">
                                <input class="rowcol" type="text"  placeholder="First name" name="">
                                <input class="rowcol" type="email" id="inputEmail4" placeholder="Email" name="">
                                <input class="rowcol" type="tel" name="" id="" placeholder="Phone Number">
                            </div>
                        </div>
                    </div>
                    <div class="conf">
                        <button class="btnconf" type="">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- <div class="div">
                <div class="just-div" id="add">
                <form action="" method="">
                    <div>
                        <div class="traveller a">
                            <div class="note">
                                <h5>Note: "First Name" and "Last Name" must match your travel document exactly.</h5>                                
                            </div>
                            <div class="t">
                                <h4>Form for Traveller</h4>
                            </div>
                            <form action="">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="First name" name="fName">
                                        <input type="text" class="form-control" placeholder="Last name" name="lName">
                                        <input type="date" name="bdate" id="" placeholder="birthday">
                                        <input class="age" type="number" name="age" id="age" min="0" max="100" step="1" placeholder="Age">
                                    </div>
                                    <div>
                                        <label class="gender" for="gender" >
                                            <input class="type" type="radio" name="gender" id="gender">f</input>
                                            <input class="type" type="radio" name="gender" id="gender">m</input>
                                    </label>
                                    </div>
                                </div>
                                <div class="btn">
                                    <button id="push">add Traveller</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                    <div>
                        <div class="traveller b">
                            <div class="note">
                                <h5>Note: This is who we will be in contact with about this booking</h5>
                            </div>
                            <form action="">
                                <div class="">
                                    <input type="text" class="form-control" placeholder="First name" name="">
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="">
                                    <input type="tel" name="" id="" placeholder="Phone Number">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="bt"><button>Confirm</button></div>
                </form>
            </div> --}}