<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>AirNet</title>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
</head>
<body>
    <!-- header -->
    <div id="header"></div>

    <!-- fixit -->
    <div class="box">
        <div>
            <div class=" box2 d-md-flex align-items-md-start">
                <div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-left wmin-300 border-0 shadow-0 sidebar-expand-md">

                    <!-- Sidebar content -->
                    <div class="sidebar-content">
                  
                      <!-- Navigation -->
                      <div class="card1">
                        <div class="card-body-p bg-indigo-400 text-center card-img-top">
                          <div class="card-img d-inline-block mb-3">
                            <img class="img" src="https://cdn-icons-png.flaticon.com/128/9341/9341752.png" width="170" height="170" alt="">
                          </div>
                  
                          <h6 class="font-weight-semibold mb-0">user Name</h6>
                          <span class="d-block opacity-75">userEmail@gmail.com</span>
                        </div>
                  
                        <div class="card-body-u p-0">
                          <ul class="nav-u nav-sidebar mb-2">
                            <li class="nav-item ai">
                                <button class="onclick" onclick="myFunction()">Account Info</button>
                            </li>
                  
                            <li class="nav-item ia">
                              <a href="#" class="nav-link">
                                My Trips
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- /navigation -->
                    </div>
                    <!-- /sidebar content -->
                    <div class="tab-content w-100 overflow-auto">
                        <div class="tab-pane fade active show" id="">
                          <!-- Profile info -->
                          <div class="card" id="card">
                            <div class="card-header header-elements-inline">
                              <h5 class="card-title">Account information</h5>
                            </div>
                  
                            <div class="card-body">
                  
                              <form class="edit_user" id="" action="" accept-charset="UTF-8" method="post">
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input class="form-control form-control-lg" placeholder="name" type="text" value="" name="firstName" id="">
                                </div>
                  
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input class="form-control form-control-lg" placeholder="Phone number" type="url" value="" name="phonenumber" id="">
                                </div>
                  
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                  <input class="form-control form-control-lg" placeholder="email" readonly="readonly" type="email" value="" name="email" id="">
                                </div>
                  
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                  <input class="form-control form-control-lg" placeholder="password" type="password" name="password" id="">
                                </div>
                  
                                
                                <!-- button is here -->
                                <div>
                                    <button class="save" type="submit">Save changes</button>
                                </div>
                            </form>

                                </ul>
                              </div>
                            </div>
                          </div>
                          <!-- /profile info -->
                        </div>
                      </div>
                  
                  </div>
            </div>
        </div>        
    </div>

    <!-- footer -->
    <div class="footer holder" id="footer"></div>

    <script>
        function myFunction() {
            var x = document.getElementById("card");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

    <script> 
        $(function(){
          $("#header").load("header.html"); 
          $("#footer").load("footer.html"); 
        });
    </script>
</body>
</html>
