<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/css/profile.css">
    <title>AirNet</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navul">
                <li class="navlist">
                    <a class="nav-home" href="\views\index.html">home</a>
                </li>
                <li class="navlist">
                    <a href="#search">search</a>
                </li>
                <li class="navlist">
                    <a href="\views\signin.html" id="nm">sign in</a>
                </li>
                
            </ul>
        </nav>
    </header>

    <!-- fixit -->
    <div class="box">
        <h1 class="u">User Profile</h1>
        <div class="main">
            <i class="fa fa-pen fa-xs edit"></i>
            <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/128/9341/9341752.png" alt="">
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>Email</td>
                        <td>
                            <input placeholder="Email" type="" name="" id="">
                            <input placeholder="Password" type="" name="" id="">
                        </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>
                            <input placeholder=" First Name" type="" name="" id="">
                            <input placeholder="Last Name" type="" name="" id="">
                        </td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <input placeholder="city" type="" name="" id="">
                            <input placeholder="street" type="" name="" id="">
                            <input placeholder="number" type="" name="" id="">
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>birth date</td>
                        <td>
                            <input placeholder="bdate" type="" name="" id="">
                            <input placeholder="age" type="" name="" id="">
                            <input placeholder="gender" type="" name="" id="">
                        </td>
                    </tr> -->
                    <tr>
                        <td>Phone Number</td>
                        <td>
                            <input placeholder="Phone Number" type="" name="" id="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div class="footer holder">
        <footer>
            <ul class="footerul">
                <li class="footerli">
                    <a href="\views\index.html">Home</a>
                </li class="footerli">
                <li>
                    <a href="">Features</a>
                </li class="footerli">
                <li>
                    <a href="\views\faqs.html">FAQs</a>
                </li>
                <li class="footerli">
                    <a href="\views\about.html">About us</a>
                </li>
            </ul>
            <h3 class="company">AirNet 2023</h3>
        </footer>
    </div>
</body>
</html>