<div class="box">
  <div class="box2">
    <div class="sidebar">
      <!-- Sidebar content -->
      <div class="sidebar-content">
        <!-- Navigation -->
        <div class="card1">
          <div class="card-body">
            <div class="">
              <img class="img" src="https://cdn-icons-png.flaticon.com/128/9341/9341752.png" alt="">
            </div>
            <h6 class="userName">user Name</h6>
            <span>userEmail@gmail.com</span>
          </div>
          <div class="cardbody">
            <div>
              <button class="onclick" onclick="myFunction()">Account Info</button>
            </div>
            <div>
              <button class="onclick trip"><a href="#" class="mytrip">My Trips</a></button>
            </div>
          </div>
        </div>
        <!-- /navigation -->
      </div>
      <!-- /sidebar content -->
      <div class="">
        <div class="">
          <!-- Profile info -->
          <div class="card" id="card">
            <div class="cardheader">
              <h5 class="cardtitle">Account information</h5>
            </div>
            <div class="card-body">
              <form action="/">
                <div class="formdiv">
                  <input class="formin" placeholder="name" type="text" value="" name="firstName" id="">
                </div>
                <div class="formdiv">
                  <input class="formin" placeholder="Phone number" type="url" value="" name="phonenumber" id="">
                </div>
                <div class="formdiv">
                  <input class="formin" placeholder="email" readonly="readonly" type="email" value="" name="email" id="">
                </div>
                <div class="formdiv">
                  <input class="formin" placeholder="password" type="password" name="password" id="">
                </div>
                <!-- button is here -->
                <div class="savbtn">
                  <button class="save" type="submit">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("card");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
