<div>
        <div class="mar" id="mar">

        </div>
    </div>

    <div class="div">
        <div>
            <a href="/inform"><button>book</button></a>
        </div>
        <div>
            <a href="/profile"><button>pro</button></a>
        </div>
    </div>