<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/css/select.css">
    <title>Document</title>
</head>
<body>
    <form action="/inform" method="POST">
        <div class="bookflightinfo">
            <div class="bfi">
                <h3>Booking Flight Information</h3>
            </div>
            <div class="flyin">
                <div class="details">
                    <h3>Flight Details</h3>
                </div>
                <div class="fromto">
                    <p>Turkish Airline</p>
                    <p>From Turkey</p>
                    <p class="flyto">To Japan</p>
                    
                </div>
                <div class="flightdetails">
                    <ul class="classul">
                        <li class="flydet">Flight</li>
                        <li class="flydet">Class</li>
                        <li class="flydet">Date</li>
                        <li class="flydet">Time</li>
                        <li class="flydet">Cost</li>
                    </ul>
                </div>
                <div class="emty">
                    <ul class=" empty">
                        <li class="hide mt">TK 001</li>
                        <li class="hide mt">E</li>
                        <li class="hide mt">1 December</li>
                        <li class="hide mt">6:45</li>
                        <li class="hide mt">$896</li>
                    </ul>
                </div>
                <div class="flyseat">
                    <p>Seat 12B</p>
                </div>
                <div>
                    <button class="continue back" type="button">Back</button>
                    <button class="continue forward" type="submit">Continue</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>