<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\signup.css">
    <title>Sing Up</title>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
</head>
<body>
    <!-- header -->
    <div id="header"></div>

    <div>
        <form action="\index.html">
            <fieldset class="field">
                <div>
                    <div>
                        <h1 class="titleOne">sign up now</h1>
                    </div>

                    <div class="ldiv">
                        <input class="lin" type="email" name="email" id="email" placeholder="Email"><br>
                        
                        <input class="passw" type="password" name="password" id="password" placeholder="Password"><br>
                        
                    </div>

                    <div class="userpass">
                        <table>
                            <tr>
                                <td>
                                    <input class="twoin" type="text" name="firstName" id="firstName" placeholder="First Name"><br>
                                    
                                </td>
                                <td>
                                    <input class="twoin" type="text" name="lastName" id="lastName" placeholder="Last Name"><br>
                                    
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="datein">
                        <table>
                            <tr>
                                <td>
                                    <input class="bdate" type="date" name="bdate" id="bdate" placeholder="Birth Date"><br>
                                    
                                </td>
                                <td>
                                    <input class="age" type="number" name="age" id="age" min="0" max="100" step="1" placeholder="Age"><br>      
                                    
                                </td>
                                <td>
                                    <label class="gender" for="gender">Gender:
                                        <input class="type" type="radio" name="gender" id="gender">m</input>
                                        <input class="type" type="radio" name="gender" id="gender">f</input>
                                        <input class="type" type="radio" name="gender" id="gender">other</input>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="ldiv">
                        <input class="lin" type="tel" name="phonenumber" id="phonenumber" pattern="" placeholder="Phone Number"><br>
                    </div>
                    <div>
                        <form action="">
                            <input class="twoin" type="text" name="city" id="" placeholder="City">
                            <input class="twoin" type="text" name="streetAddrs" id="" placeholder="Street Address">
                            <input class="numadd" type="text" name="numberAddrs" id="" placeholder="Number"><br>
                            
                        </form> 
                    </div>
                    <hr class="this">
                    <div>
                        <div class="set">
                            <button class="btreset" type="reset">reset</button>
                            <button class="btsubmit" type="submit">sign up</button>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <a class="have" href="\signin.html"><h3 class="have">Already have an account</h3></a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <!-- footer -->
    <div class="footer holder" id="footer"></div>

    <script> 
        $(function(){
          $("#header").load("header.html"); 
          $("#footer").load("footer.html"); 
        });
    </script>
</body>
</html>