<div class="signbody">
    <form class="signinform" action="/signin/password" method="POST">
        <div class="secondiv">
            <div>
                <h1 class="sh sin">Sign In</h1>
                </div>
                <div class="stinput">
                    <input class="userin" type="text" name="email" id="email" placeholder="Email Address">
                {{!-- </div>
                <div class="stinput"> --}}
                    <input class="userin" type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="btndiv">
                    <button class="btlogin" type="submit"><a class="sh login" href="/">Sing In</a></button><br>
                        <input class="sh checkbox" type="checkbox" checked="checked"><label class="sh login"> Remember me</label>
                </div>
                <div class="noaccdiv">
                    <a class="noacc sh taga" href="/signup">Do not have an account?</a>
                </div>
        </div>
    </form>
</div>
