<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\signin.css">
    <title>signin</title>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
</head>
<body>
    <!-- header -->
    <div id="header"></div>

    <div>
        <form action="post">
            <fieldset class="field">
                <table>
                    <tr>
                        <td>
                            <h1 class="firstt">Sign In</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="userin" type="text" name="email" id="email" placeholder="Email Address">
                            <input class="userin second" type="password" placeholder="Password" name="password" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btlogin" type="submit"><a class="login" href="\index.html">Sing In</a></button><br>
                            <label class="login checkbox">
                                <input class="checkbox" type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="noacc" href="\signup.html"><h4 class="noacc">Do not have an account?</h4></a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>

    <!-- footer -->
    <div class="footer holder" id="footer"></div>

    <script> 
        $(function(){
          $("#header").load("header.html"); 
          $("#footer").load("footer.html"); 
        });
    </script>
</body>
</html>