*{
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 18px; */
    color: black;
}




/* middle */
.home{
    padding-top: 5em;
}
.hm{
    text-align: center;
}

.img{
    text-align: center;
    height: 300px;
}
.logo{
    height: 250px;
}
.we{
    text-align: center;
    margin: 5em;
}
.hr{
    min-width: 15em;
    margin: 1em 5em 1em 5em;
    display: inline-block;
}
.strt{
    margin: 1em 1em 1em 1em;
}
.us{
    margin-top: 5em;
}
.co{
    margin-top: 4em;
    margin-bottom: 2em;
}
.ptag{
    text-align: center;
    min-width: 15px;
}
.me{
    margin: 1em 8em 1em 8em;
    min-width: fit-content;
    min-height: min-content;
}
.pic{
    height: 300px;
}

.media{
    text-align: center;
    margin-bottom: 10em;
}
.media img{
    height: 30px;
}





/* .m{
    margin-top: 5em;
    font-size: 19px;
    margin-bottom: 1em;
    min-width: 10em;
    max-width: 20em;
    min-height: 5em;
    max-height: max-content;
    margin-left: 5em;
    margin-right: 5em;
}
.we{
    padding: 0;
}
.start img{
    height: 200px;
}
hr{
    margin-top: 2em;
    width: 10em;
    height: 0.1em;
    background-color: blue;
}
.wl{
    font-size: 18px !important;
    padding-left: 0.2em;
    font-weight: 800 !important;
}
.start p{
    margin: 1em;
    font-size: 20px;
}
.strt{
    margin-top: 8em;
    margin-bottom: 5em;
    text-align: center;
} */