/* *{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    color: black;
    min-height: min-content;
    max-height: max-content;
} */

.informbody{
    text-align: center;
    color: black;
    background-image: url(https://wallpapers.com/images/featured/0ke2itg1dzw1rcj0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0;
    height: 60em;
    min-width: 30em;
    padding-top: 5em;
}


.formfortr{
    border: 1px solid white;
    margin: 4em;
    padding: 1em;
    min-width: 20em;
    max-width: 40em;
    max-height: 50em;
    min-height: fit-content;
    display: inline-block;
}
.informnote{
    margin: 1em;
}
.ot{
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.ot:hover{
    color: black;
}
.tt{
    margin: 1em;
    color: white;
    font-size: 20px;
}
.ttr{
    margin: 1em;
    color: white;
    font-size: 24px;
}
.rowcol{
    border: 1px solid black;
    width: fit-content;
    margin: 0.3em 0.1em 0.3em 0.1em;
    height: 1.8em;
    background-color: transparent;
}
.rowcol::placeholder {
    color: white;
}
.rowcol:hover{
    border-color: white;
}
.rowcol:focus{
    outline-style: none;
}
.dt{
color: white;
}
.formforres{
    border: 1px solid white;
    margin: 4em;
    padding: 1em;
    min-width: 20em;
    max-width: 40em;
    max-height: 15em;
    min-height: fit-content;
    display: inline-block;
}
.rad{
    width: 1em;
    margin-top: 0.2em;
    position: absolute;
    display: inline-block;
}
.gg{
    margin-left: 1.9em;
}
.dd{
    margin-left: 3em;
}
.bb{
    margin-left: 1em;
}
.btnconf:hover{
    border-color: white;
    color: white;
}










