/* *{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin: 0;
    color: black;
    min-height: min-content;
    max-height: max-content;
}*/


.box{
    text-align: center;
    padding-top: 5em;
    height: 70em;
    background-image: url(https://images.hdqwalls.com/download/plane-flight-sky-view-1366x768.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0;
}
.box2{
    display: inline-block;
}
.sidebar{
    display: flex;
}

.card1{
    border: 1px solid black;
    height: 24em;
    border-radius: 10px;
    background-color: white;
}
.img{
    height: 180px;
    width: 200px;
    margin: 2em 1em 1em 1em;
}
.userName{
    margin: 0.5em 1em 0.4em 1em;
}
.cardbody{
    margin-top: 1em;
}
.onclick{
    width: 10em;
    height: 2em;
}
.onclick:hover{
    color: aqua;
}
.trip{
    margin: 1em 0em 0em 0em;
}


.card{
    border: 1px solid black;
    height: 24em;
    width: 15em;
    border-radius: 10px;
    margin-left: 1em;
    background-color: white;
}
.formdiv{
    margin-top: 1em;
}
.formin{
    width: 12em;
    height: 2.5em;
}
.formin:focus{
    outline-style: none;
}
.formin:hover{
    border-color: white;
}
.cardheader{
    margin: 2em 1em 1em 1em;
}
.savbtn{
    margin: 2em 1em 1em 1em;
}































/* middle */
/* .box{
    height: 70em;
    margin-top: 5em;
}
.box2{
    display: flex;
    justify-content: center;
    min-width: min-content;
    max-height: max-content;
}
.sidebar-content{
    float: left;
}
.card1{
    border: 2px solid;
    padding: 1em 1em 1em 1em;
    margin-left: 3em;
    margin-bottom: 1em;
    height: 3em;
    min-width: 20em;
    border-radius: 5px;
}
.card{
    border: 2px solid;
    padding: 1em 1em 1em 1em;
    margin-right: 1em;
    margin-left: 27em;
    min-width: 30em;
    max-width: max-content;
    height: 30em;
    text-align: center;
    border-radius: 5px;
}
.card-header{
    padding-top: 2em;
}
.card-title{
    margin-bottom: 1em;
    font-size: large;
}
.edit_user{
    margin-top: 3em;
}
.form-group{
    margin-bottom: 1.5em;
}
.form-control{
    height: 3em;
    width: 20em;
    border: 0;
    border-bottom: 1px solid;
}
.form-control:hover{
    border: 1px solid;
}
.form-control:focus{
    outline: none;
}
.save{
    margin: 1em;
    height: 2em;
    width: 10em;
    border-radius: 5px;
    border-color: rgb(220, 217, 217);
}
.save:hover{
    background-color: aliceblue;
}



.card-body-p{
    margin: 1em;
    text-align: center;
}
.font-weight-semibold{
    margin: 2em 1em 0.5em 1em;
}
.card-body-u{
    margin-top: 2em;
}
.nav-u{
    text-decoration: solid;
    list-style-type: none;
    text-align: center;
    margin-right: 2.5em;
    margin-top: 3.5em;
}
a{
    text-decoration: none;
}
.ai{
    border-bottom: 1px solid;
}
.ia{
    margin-top: 2em;
    padding: 1em 1em 1em 1em;
    border-bottom: 1px solid;
}
.ai:hover{
    background-color: rgba(250, 234, 215, 0.733);
    border-top: 1px solid;
}
.ia:hover{
    background-color: rgba(250, 234, 215, 0.733);
    border-top: 1px solid;
}

.onclick{
    background-color: transparent;
    height: fit-content;
    width: 15em;
    padding: 1em 1em 1em 1em;
    border: none;
} */




