*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin: 0;
    color: black;
    min-height: min-content;
    max-height: max-content;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    min-height: auto;
    margin-bottom: 0;
}




/* header */
header{
    height: 4.6em;
    margin-bottom: 4em;
}
.navbar{
    background-color: rgb(119, 130, 226);
    position: fixed;
    width: 100%;
    height: 5.3em;
    top: 0%;
}
.navbar ul{
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 20px;
    line-height: 1.6px;
    margin-bottom: 0;
    float: right;
}
.navbar li{
    display: inline-block;
    margin: 2.5em 1.5em 1.5em 1.5em;
}
.navbar li a{
    text-decoration: none;
}
.navbar li a:hover{
    color: white;
} 





/* middle */
.box{
    height: 30em;
}
.box2{
    display: flex;
    justify-content: center;
    min-width: min-content;
    max-height: max-content;
}
.sidebar-content{
    float: left;
}
.card1{
    border: 2px solid;
    padding: 1em 1em 1em 1em;
    margin-left: 3em;
    margin-bottom: 1em;
    min-height: 34em;
    min-width: 20em;
    border-radius: 5px;
}
.card{
    border: 2px solid;
    padding: 1em 1em 1em 1em;
    margin-right: 1em;
    margin-left: 27em;
    min-width: 30em;
    max-width: max-content;
    min-height: 34em;
    max-height: fit-content;
    text-align: center;
    border-radius: 5px;
}
.card-header{
    padding-top: 2em;
}
.card-title{
    margin-bottom: 1em;
    font-size: large;
}
.edit_user{
    margin-top: 3em;
}
.form-group{
    margin-bottom: 1.5em;
}
.form-control{
    height: 3em;
    width: 20em;
    border: 0;
    border-bottom: 1px solid;
}
.form-control:hover{
    border: 1px solid;
}
.form-control:focus{
    outline: none;
}
.save{
    margin: 1em;
    height: 2em;
    width: 10em;
    border-radius: 5px;
    border-color: rgb(220, 217, 217);
}
.save:hover{
    background-color: aliceblue;
}



.card-body-p{
    margin: 1em;
    text-align: center;
}
.font-weight-semibold{
    margin: 2em 1em 0.5em 1em;
}
.card-body-u{
    margin-top: 2em;
}
.nav-u{
    text-decoration: solid;
    list-style-type: none;
    text-align: center;
    margin-right: 2.5em;
    margin-top: 3.5em;
}
a{
    text-decoration: none;
}
.ai{
    border-bottom: 1px solid;
}
.ia{
    margin-top: 2em;
    padding: 1em 1em 1em 1em;
    border-bottom: 1px solid;
}
.ai:hover{
    background-color: rgba(250, 234, 215, 0.733);
    border-top: 1px solid;
}
.ia:hover{
    background-color: rgba(250, 234, 215, 0.733);
    border-top: 1px solid;
}

.onclick{
    background-color: transparent;
    height: fit-content;
    width: 15em;
    padding: 1em 1em 1em 1em;
    border: none;
}









/* footer */
.holder{
    width: 100%;
    min-width: 70em;
    padding: 130px 0;
    background-color:#7971bfcc;
    color: black;
    height: 5em;
    margin-top: 10em;
    margin-bottom: 0%;
}
.holder ul{
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 20px;
    line-height: 1.6px;
    margin-bottom: 0;
    margin-top: 5em;
}
.holder li{
    display: inline;
    margin: 50px 20px;
}
.holder ul a{
    color: black;
    text-decoration: none;
}
.holder ul a:hover{
    color: white;
}
.company{
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: bolder;
    margin-bottom: 0;
}

