*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
}




/* middle */

.mar{
    height: 2.8em;
}


.findsearch{
    text-align: center;
    margin-bottom: 4em;
    margin-top: -3em;
}
.divforfound{
   text-align: center;
}

.searchmaindiv{
    height: 55em;
}


.diviv{
    height: 50em;
    float: right;
    margin-right: 5em;
    
}

.sdiv{
    margin-left: 5em;
}

.havefound{
    padding-top: 0.5px;
    width: 20em;
    margin-bottom: 2.5em;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.692) 0px 2px 10px;
    display: inline-block;
    text-align: left;
}
.padd{
    padding-top: 15px;
}
.continuebtn{
    float: right;
}

.backandnotfound{
    float: inline-start;
    margin: 2em;
}
.goback{
    margin-top: 0.5em;
    border: 0ch;
    box-shadow: rgba(0, 0, 0, 0.692) 0px 2px 10px;
}
.goback:hover{
    background-color: rgba(19, 23, 224, 0.459);
}
.selectbtn{
    margin: 3px 5px 5px 3px;
    border: 0ch;
    box-shadow: rgba(0, 0, 0, 0.726) 0px 2px 10px;
}
.selectbtn:hover{
    background-color: rgba(19, 23, 224, 0.459);
}





