.signbody{ 
    margin: 0%;
    background-image: url(https://media.istockphoto.com/id/1433196585/photo/above-the-horizon-at-dusk.jpg?s=612x612&w=0&k=20&c=orVTDteq2e6Rq1f8ioy1ggc5ca2UUhuvapInk89NNGg=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0;
    height: 70em;
    min-width: 30em;
    text-align: center;
}
.secondiv{
    margin-top: 6em;
    border: 1px solid white;
    border-radius: 0.2em;
    min-width: 22em;
    max-width: 28em;
    height: 28em;
}
.signinform{
    padding: 5em;
    display: inline-block;
}
.sh{
    color: white;
}
.sin{
    text-align: center;
    margin: 3em 1em 2em 1em;
    font-size: 28px;
    font-weight: 500;
}
.stinput{
    text-align: center;
}
.userin{
    border: 1px solid white;
    width: 15em;
    margin: 0.3em 0.1em 0.3em 0.1em;
    height: 1.8em;
    background-color: white;
}
.userin::placeholder{
    color: black;
}
.userin:focus{
    outline-style: none;
}
.userin:hover{
    border-color: black;
}
.btndiv{
    margin: 2.5em 1em 2em 1em;
}
.btlogin{
    margin-bottom: 1em;
}
.btlogin:hover{
    border-color: white;
}
.checkbox{
    width: 15px;
}
.login{
    display: inline-block;
}

.taga:hover{
    color: aqua;
}









