
body{
    background-image: url(https://wallpaper.dog/large/10749663.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    margin-bottom: 0;
}

.field{
    height: 30em;
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 227px;
    margin-bottom: 10em;
    padding-bottom: 1em;
    border-radius: 1em;
    background-color: #d9e4dd85;
}

.field:hover{
    cursor: pointer;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}
.firstt{
    margin: 2em 1em 0em 37%;
    font-size: 40px;
}

.userin{
    margin: 4em 4em 0em 5em;
    border: solid 1.5px #D3D3D3;
    padding-left: 0.5em;
    height: 1.9em;
    width: 20em;
}
.second{
    margin-top: 1em;
}
.userin:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    background-color: azure;
}


.btlogin{
    background-color: transparent;
    border: 0;
    font-size: 1.5em;
    margin: 1em 2em 1em 8.5em;
}
.btlogin:hover{
    background-color: azure;
    border: 1px solid;
    border-radius: 1px;
}

/* .login{
    text-decoration: none;
    text-align: center;
} */

.checkbox{
    margin: 0.5em 1em 1em 5em;
    font-size: 1em;
}
.checkbox:hover{
    color: azure;
}


.noacc{
    text-decoration: none;
    text-align: center;
    margin-left: 9em;
    padding: 0.7em 0em;
    width: 13em;
}
.noacc:hover{
    background-color: azure;
}




*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* header */
header{
    height: 4.6em;
}
.navbar{
    background-color: rgb(119, 130, 226);
    position: fixed;
    width: 100%;
    height: 5.3em;
    top: 0%;
}
.navbar ul{
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 20px;
    line-height: 1.6px;
    margin-bottom: 0;
    float: right;
}
.navbar li{
    display: inline-block;
    margin: 1.6em 1.5em 1.5em 1.5em;
}
.navbar li a{
    text-decoration: none;
}
.navbar li a:hover{
    color: white;
}

/* footer */
.holder{
    padding: 130px 0;
    background-color:#7971bf;
    color: black;
    height: 4em;
}
.holder ul{
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 20px;
    line-height: 1.6px;
    margin-bottom: 0;
    margin-top: 5em;
}
.holder li{
    display: inline;
    margin: 50px 20px;
}
.holder ul a{
    color: black;
    text-decoration: none;
}
.holder ul a:hover{
    color: white;
}
.company{
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: bolder;
    margin-bottom: 0;
}