.signupbody{
    margin: 0%;
    background-image: url(https://media.istockphoto.com/id/1433196585/photo/above-the-horizon-at-dusk.jpg?s=612x612&w=0&k=20&c=orVTDteq2e6Rq1f8ioy1ggc5ca2UUhuvapInk89NNGg=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0;
    height: 70em;
    min-width: 30em;
    text-align: center;
}
.ddiv{
    margin-top: 3em;
    border: 1px solid white;
    border-radius: 0.2em;
    min-width: 20em;
    max-width: 30em;
    height: 46.5em;
}
.signupform{
    padding: 5em;
    display: inline-block;
}
.divforheader{
    margin: 3em 1em 2em 1em;
}
.z{
    color: white;
    font-size: 25px;
}
.sinupinput{
    width: 15em;
    border-radius: 0.2em;
    margin-top: 1em;
    height: 2em;
    background-color: white;
}
.sinupinput::placeholder{
    color: black;
}
.sinupinput:hover{
    border-color: azure;
}

.g{
    width: 1em;
    margin-top: -1em;
    position: absolute;
    top: 39.5em;
}
.gf{
    margin-left: 2em;
}
.labels{
    margin-left: 1.9em;
    color: black;
}
.label{
    margin-right: 1em;
    margin-left: 3.5em;
    color: black;
}
.tg{
    color: black;
}
.sb{
    color: black;
    margin: 1em 2em 1.5em 2.5em;
}
.sb:hover{
    border-color: white;
}
.hrtwo{
    width: 7em;
    margin: 1em 1em 0.5em 1em;
    display: inline-block;
}
.radio{
    margin-top: 1em;
}



























/* 

.titleOne{
    font-size: 35px !important;
    text-align: center;
    margin: 1em;
}

.field{
    height: 30em;
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 227px;
    margin-bottom: 10em;
    padding-bottom: 1em;
    border-radius: 1em;
    background-color: #d9e4dd85;
}
.field:hover{
    cursor: pointer;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}



.ldiv{
    padding-bottom: 1em;
}
.lin{
    width: 30em;
    border: solid 1.5px #D3D3D3;
    padding-left: 0.5em;
    margin-bottom: 1em;
}
.lin:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    background-color: azure;
}
.lla{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}
.passw{
    padding-left: 0.5em;
    margin-left: 9em;
    border: solid 1.5px #D3D3D3;
}
.passw:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    background-color: azure;
}

.userpass{
    padding-bottom: 0.6em;
}
.twoin{
    margin-left: 1.5em;
    padding-left: 0.5em;
    border: solid 1.5px #D3D3D3;
}
.twoin:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    background-color: azure;
}
.twolin{
    display: flex;
    justify-content: center;
}


.datein{
    padding-bottom: 0.6em;
}
.bdate{
    margin-left: 2em;
    margin-right: 0.1em;
    border: solid 1.5px #D3D3D3;
}
.bdate:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    background-color: azure;
}
.labdate{
    display: flex;
    justify-content: center;
}

.age{
    width: 50px;
    margin-right: 0.3em;
    border: solid 1.5px #D3D3D3;
}
.age:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    background-color: azure;
}

.gender{
    padding-left: 3em;
}

.numadd{
    margin-top: 0.5em;
    margin-left: 9em;
    border: solid 1.5px #D3D3D3;
    padding-left: 0.5em;
}
.numadd:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    background-color: azure;
}


.set{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.btreset{
    width: 200px;
    margin-left: 1em;
}
.btsubmit{
    width: 200px;
    margin-right: 1em;
}
.btreset:hover, .btsubmit:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    background-color: rgba(0, 0, 255, 0.661);
}
.this{
    margin-top: 2em;
}





.have{
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-decoration: none;
    text-align: center;
}
.have:hover{
    color: cyan;
}


input{
    background-color: rgba(255, 255, 255, 0.64);
} */


