/* general css */

*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0;
}

.indexbody{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url(https://wallpapercave.com/wp/wp4128869.jpg); */
    background-image: url(https://wallpapers.com/images/hd/airplane-window-travel-teal-aesthetic-sky-hwammzwcjtusy8m9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0;
    height: 70em;
    min-width: 30em;
}




/* middle */
.search{ 
    height: 30em;  
    margin-bottom: 10em;
} 

.dropsearch{ 
    height: fit-content;
    display: flex; 
    justify-content: center; 
    padding: 1.5em; 
    background-color: #b4b2b2e8;
    box-shadow: 0 0 5pt 0.5pt;
    /* #c0c0c0 */
    border-radius: 1.5em; 
    margin-left: 10em; 
    margin-right: 13em; 
    min-width: 8em;
} 
.from{ 
    padding-top: 2em; 
    width: 55em; 
    border-radius: 0.5em; 
    text-align: center; 
} 
.flight{ 
    display: grid; 
    float: left;  
    height: 4.5rem; 
    margin: 0em 0.5rem 1em 0.5em; 
    border-radius: 0.5em; 
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5); 
    text-align: center;
} 
.input{ 
    border: 1px solid; 
    background-color: transparent;
    width: 9em;
    color: black;
}
.input:hover{
    cursor: pointer;
    border: 1px solid;
    color: white;
}
.input:focus{
    outline-style: none;
}
.flsubmit{
    margin-top: 3em;
    float: right;
    margin-right: 0.5em;
}
.fls{
    display: inline;
}
.flsubmit:hover{
    background-color: rgba(68, 246, 234, 0.807);
}

.journey{
    float: left;
    margin-top: 3em;
    padding-left: 0%;
}
.jour{
    width: fit-content !important;
}

li{
    list-style-type: none;
}

.usname{
    background-color: transparent;
    border: 0px;
}
button{
    border-radius: 5px;
    background-color: transparent;
}
button:not(:disabled){
    cursor: pointer; 
}
